.sidebar
  / .agent-info
  /   = @agent.name_display
  /   %br
  /   = @agent.agent_type
  /   %br
  /   %br
  /   = @sub_brokerage.name
  /   %br
  /   = @sub_brokerage.address
  /   %br
  /   = @sub_brokerage.city
  /   = @sub_brokerage.province
  /   %br
  /   = @sub_brokerage.phone_number
  .nav-items
    .nav-item
      = link_to "Order History", root_url, :class => ('active' if controller_name === 'homepage')
    .nav-item
      = link_to "New Order", new_order_path, :class => ('active' if controller_name === 'orders')
    / .nav-item
    /   = link_to "Customer List", taxpayers_path, :class => ('active' if controller_name === 'taxpayers')
    / .nav-item
    /   = link_to "Dropbox Folder", root_url
    .nav-item
      = link_to "Account Settings", edit_agent_registration_path, :class => ('active' if controller_name === 'registration')