.faqs
  %h3 <strong>NOA</strong>Canada.ca Frequently Asked Questions
  .row
    .col-md-6
      .faq-item
        .faq-title
          Why does the taxpayer have to fill out the T1013?
        .faq-content
          The T1013 is a Canada Revenue Document that authorizes <strong>NOA</strong>Canada.ca to access a taxpayers online account. CRA requires NOACanada to keep the signed document on file for 6 years. On the form we require the taxpayers first and last name, SIN number and Date of Birth. Areas that do not need to be completed are blocked out on the form.
    .col-md-6
      .faq-item
        .faq-title
          Why are there Xs on the T1013?
        .faq-content
          There are certain areas on the T1013 form that we have blocked out to prevent error filling in fields that are not needed or that may confuse CRA officials. The taxpayer will receive a verification letter from CRA within one week confirming authorization.
  .row
    .col-md-6
      .faq-item
        .faq-title
          Why do I have to do level 2 authorization?
        .faq-content
          NOACanada asks for level two authorization in case information needs to be updated to facilitate expedient approval for the release of the taxpayers Notices of Assessment.  It allows for faster efficient service and without additional charges.

    .col-md-6
      .faq-item
        .faq-title
          Why do I have to get the client to sign the T1013 before sending the request for NOA?
        .faq-content
          We ask for the form to be sent with the application to prevent cancellation of orders or outdated forms.  If an order is paid for and we do not receive the T1013 we will still charge the Agent.
  .row
    .col-md-6
      .faq-item
        .faq-title
          What information do I receive when putting in an order?
        .faq-content
          <strong>NOA</strong>Canada.ca basic service provides the most current three years Notice of Assessment, a statement of account and balance owing and a ten year tax filing summary all for the low price of $50 and with our 24 hour guarantee.

    .col-md-6
      .faq-item
        .faq-title
          What is the cost for this service?
        .faq-content
          NOACanada’s service costs only $50 CAD.
  .row
    .col-md-6
      .faq-item
        .faq-title
          Why do I have to register as a broker, licensed agent?
        .faq-content
          Agents are licensed professionals that have a fiduciary duty to our mutual clients.  If a taxpayer needs an NOA they can contact an authorized NOA Agent to provide the service for them.

    .col-md-6
      .faq-item
        .faq-title
          What other services do you provide?
        .faq-content
          <strong>NOA</strong>Canada.ca can obtain slips such as T4’s, T4A’s, Pension slips, RRSP room and contributions, T1 General reproduction, stated income returns, adjustments and an array of accounting outsourcing services such as objections, appeals and federal tax court representation.  Similar services can be offered for corporate Canadian Controlled Private Corporations as well.
  .row
    .col-md-6
      .faq-item
        .faq-title
          How long does it take for an Agents NOA order to be processed?
        .faq-content
          <strong>NOA</strong>Canada.ca guarantees you will receive your NOA package within 24 hours of us receiving a complete order which includes the signed completed T1013, payment and full agent registration.

    .col-md-6
      .faq-item
        .faq-title
          What if I have a complaint or question that I’d like answered?
        .faq-content
          We take our commitment to providing professional and practical services very seriously and ask that you please do not hesitate contacting our customer service representatives at Inquiries@NoaCanada.com with any questions you may have.
  .row
    .col-md-6
      .faq-item
        .faq-title
          Why do I have to go through an NOA Agent?
        .faq-content
          An NOA Agent is a licensed professional. We only work with licensed professionals to add a level of credibility and assurance to our services and to protect the public. Agents are licensed professionals that have a fiduciary duty to our mutual clients. If a taxpayer needs an NOA they can contact an authorized NOA Agent to provide the service for them.

    .col-md-6
      .faq-item
        .faq-title
          Where do I find an NOA Agent in my area?
        .faq-content
          You can reach a local NOA Agent by placing a request through www.<strong>NOA</strong>Canada.ca/agents. With a short turnaround time you can expect to be put in touch with the appropriate individual in as little as a single business day.
  .row
    .col-md-6
      .faq-item
        .faq-title
          How do I become an NOA Agent?
        .faq-content
          To become a NOA Agent we need you to be a licensed mortgage broker, mutual fund or securities agent, life insurance agent, Realtor or CPA.  If you  are another professional or service and would like approval please contact us with a request.


    .col-md-6
      .faq-item
        .faq-title
          Who needs this service?
        .faq-content
          Anyone requiring a Notice of Assessment or other tax documents and services.
    