%h2 NOA Canada.ca Inc. Privacy Policy
.modal-text
  %strong Effective as of September 1st, 2015.
  %br
  %br
  Hi! Please take the time to read the following Privacy Policy carefully. It’s very important you do so as this Privacy Policy is intended to help you make important decisions about the personal information you choose to share with NOA Canada.
  %br
  %br 
  %strong 1. Introduction
  %br
  %br
  Thank you for choosing NOA Canada! NOA Canada.ca Inc. (“NOA Canada”, “we”, “us”, “our”) takes your personal privacy and data protection very seriously. In order to provide you with access to and use of the NOA Canada Services (as defined in the End User License Agreement), NOA Canada needs to collect certain personal information about you. This Privacy Policy describes what information we collect, why we are collecting it, how we intend to use it and who we may share this information with. This Privacy Policy also describes how you can update, manage and control the use of your personal information on our Services.
  %br
  %br
  By accessing, using and/or downloading the Services, you are deemed to consent to enter into a legally binding contract, the End User License Agreement, and you further consent to the use of your personal information as outlined in this Privacy Policy. If you don’t agree with the terms of the Privacy Policy, or any of the additional terms or conditions in the End User License Agreement, please immediately cease using NOA Canada Services.
  %br
  %br 
  %strong 2. What information we collect
  %br
  %brYou can access and use certain aspects of the Services without creating a user account or revealing any personal information about yourself. Once you choose to sign up for the Services, however, we may collect the personal information you provide to create a user account, including your username, password, email address, date of birth, gender, country and postal code or zip code. Once you choose to give us this personal information you are no longer anonymous to us when using our Services.
  %br
  %br
  We may also collect information you voluntarily add to your user profile, including a profile picture, your mobile phone number and your mobile service provider. If you connect to the Services using your user credentials from a third party social network service, for example Facebook or Google+, you [imi1] authorize us to collect your authentication information, such as your username, encrypted access credentials, and other personal information that may be available on or through that social network service, including your name, profile picture, country, hometown, current location, email address, date of birth, gender, your friends’ names and their profile pictures and your networks. We may store this information so that it can be used for the purposes described below in Section 3 and may verify your user credentials with that social network service.
  %br
  %br  
  %strong 3. How we use the information we collect
  %br
  %br
  NOA Canada’s primary use of the personal information we collect is to enable you to communicate and share your User Content with other users of the Services. Our intent in collecting this information is to provide you with a useful, efficient and personalized user experience.
  %br
  %br You understand and agree that we may use the information we collect, including your personal information, to:
  i.       ensure the proper technical functioning of the Services and related customer support services to you as requested;
  %br
  %br
  ii.      ensure compliance with this Privacy Policy and our End User License Agreement, protect the rights, property, and safety of NOA Canada, our users or any of person, including third party copyright holders, and to prevent prohibited uses of the Services or illegal activities;
  %br
  %br
  iii.     provide, personalize, and improve the NOA Canada Content and Services, for example by providing customized or localized content and advertising;
  %br
  %br
  iv.     develop and promote new products, services, features or content made available to you through the Services, and to measure your use of the Services, including your interaction with applications, advertising, products, services, features, or content made available to you through the Services;
  %br
  %br
  v.     provide you with information regarding updates or changes to the Services, or any promotional offers that we may offer from time to time;
  %br
  %br
  vi.     compare information provided with third parties to ensure accuracy of user credentials.
  In addition, NOA Canada will collect all personal information provided in the course of processing a payment transaction for the purchase of goods or services, special offers or special features made available through the Services. The personal information we collect when processing such payments may vary depending on the nature of the transaction. The personal information may include, for example, your name, credit card number and expiration date, billing address and mailing address. NOA Canada will only use the personal information collected in the course of such transactions for the purposes of fulfilling your purchase and the delivery of the goods and services you’ve purchased, and will not use this information for any other purpose.
  %br
  %br
  %strong 4. How we share the information we collect
  %br
  %br
  We may share the information we collect, including your personal information, in the following ways:
  %br
  %br
  %strong 4.1 Sharing within NOA Canada’s Services
  %br
  %br
  NOA Canada’s Services are designed to enable you to find, enjoy and share User Content with other users, and as such we enable and encourage you to explore who else is using the Services, view their public profile and listen to content they’ve published.
  Most of your user account information is or may be publicly available by default, including your username, profile picture, your activity, including the all User Content you publish, upload, make available or like, any third party applications you add or use.
  We may use your public user information to promote the Services and to help other users find and follow you or your User Content, including through third party social network services such as Facebook and Google+. Your information may also be used to notify others, whether on the Services, via email, on third party social networks such as Facebook or Google+, that you have joined NOA Canada and about your activity related to their user profile, User Content which they like, or which we otherwise think may be of interest to them.
  %br
  %br
  %strong 4.2. Sharing with other social network services
  %br
  %br
  If you connect to NOA Canada using Facebook, Google+ or other social network services, the default setting provides that NOA Canada will automatically share your activity with that social network service, including the User Content you publish and listen to. You understand that such information may be attributed to your user profile on that social network service and may be published on such service. See section 5 below to learn more about how you can disable sharing or publication of your information on third party social network services.
  %br
  %br
  NOA Canada also enables you to share your User Content, on an individual basis, on third party social network services by using the share functionality in the NOA Canada Services. You should note that this type of sharing may be posted as activity on the Services, regardless of your user account settings. In order to share User Content on a third party social network service, you will have to enter your user credentials for that service to access it. NOA Canada may store your user credentials obtained from that third party social network service, so that you may later share other User Content on that third party service without having to reenter your user credentials for that service again.
  %br
  %br
  You understand and agree that the collection and use of your personal information by third party social network services is governed by their privacy policies and that NOA Canada’s collection, use and disclosure of your information is governed as described in this Privacy Policy.
  %br
  %br
  %strong 4.3 Sharing with third party applications
  %br
  %br
  To better personalize your user experience, we may share some of non-identifiable  information we have collected about you with the providers of third party applications, such as general geographic location, your musical preferences, user settings and technical data. NOA Canada will take precautions, however, to prevent providers of third party applications to use the information provided to them to identify you or to collect additional information about you without your consent.
  %br
  %br
  You should understand that if you:
  %br
  %br
  i.      actively choose to provide third party applications with additional information about you, such as by visiting a third party application (which enables collection of your Internet Protocol address), publishing User Content on a third party application or allowing us to share precise geographical information which the third party application provider requests from us; or
  %br
  %br
  ii.       consent to the collection of additional personal information by a third party application provider, for example by registering or logging into that third party application,
  the third party application may be able to identify you and associate the non-identifiable information previously provided by NOA Canada with you personally. You understand and agree that the collection and use of your personal information that we provide to a third party application is governed by that application provider’s privacy policy.
  %br
  %br
  %strong 4.4. Affiliated companies, subsidiaries and others
  %br
  %br
  NOA Canada may from time to time share your information with its affiliated companies or subsidiaries, as well as certain trusted business partners and third party service providers in order to enable them to perform necessary functions and process user data on our behalf in a manner consistent with the uses described in Section 3. Such third parties’ processing of user data will always be subject to security and confidentiality obligations consistent with this Privacy Policy and any applicable law.
  %br
  %br
  %strong 4.5 Other sharing
  %br
  %br
  In addition to the above, we may also share your information to third parties for these limited purposes:
  %br
  %br
  %br
  %br
  i.             to allow a merger, acquisition, or sale of all or a portion of our assets;
  %br
  %br
  ii.            to respond to legal process, such as a court order or subpoena, if we believe in good faith that it is necessary to do so; to comply with requirements of mandatory applicable law; to protect the safety of any person; to protect the rights and property of NOA Canada, including to enforce the End User License Agreement; and to address fraud, security or technical issues;
  %br
  %br
  iii.           to allow NOA Canada’s affiliated or subsidiary companies to use your information as specified in this Privacy Policy;
  %br
  %br
  iv.            to inform business partners about use of the Services and products and services made available through the Services, in the form of aggregated statistics or otherwise in a format which does not reveal your identity; and
  %br
  %br
  v.             if you expressly opt in to such sharing.
  %br
  %br 
  You understand and agree that the privacy policies of third parties will govern all use of information that we provide to them under this section.
  %br
  %br 
  %strong 5. Cookies & similar technologies
  %br
  %br
  A “Cookie” is a small text file that is placed on your computer, mobile phone, or other device when you visit a website. The Cookie helps website providers to recognize your device the next time you visit their website. There are other similar technologies such as pixel tags, web bugs, web storage and other similar files and technologies that can also do the same thing as Cookies. NOA Canada uses the term Cookies in this policy to refer to cookies and all such similar technologies that collect information in this way.
  %br
  %br 
  We use Cookies on certain webpages of the NOA Canada Services to help analyze our web page flow, customize our services, measure promotional effectiveness, and promote trust and safety.
  %br
  %br 
  A few important things you should know about Cookies are that:
  %br
  %br 
  %br
  %br
  We offer certain features that are only available through the use of Cookies.
  %br
  %br
  We use Cookies to help identify you and maintain your signed-in status.
  %br
  %br
  Most Cookies are "session cookies," meaning that they are automatically deleted from your hard drive at the end of a session.
  You are always free to decline our Cookies by configuring your Internet browser management preferences accordingly, although doing so may interfere with, impair or otherwise prevent the due functioning of your use of the NOA Canada Services.
  %br
  %br 
  %strong 6. Transfer of information outside of Canada
  %br
  %br
  If you choose to provide us with personal information, you consent to the transfer and storage of that information to our servers located in a number of countries, including the United States of America.
  %br
  %br 
  %strong 7. Your preferences: accessing, managing and updating your personal information
  %br
  %br
  You can access, manage and update the personal information you provide us by logging into the NOA Canada Services. Through your user account settings, you can choose which communications you receive from us, manage your public information, and set your sharing preferences. However, please note that it may not be possible to make certain information private on the Services, including your name and/or username, profile picture, and other basic information, such as your following relationships. Such information and other information which are set to “public” in your settings, such as User Content, may be used, re-shared or linked to by other users on the Services or others Internet users so please use NOA Canada’s Services carefully and manage your account settings regularly.
  %br
  %br 
  Remember that if you make your user profile content private, other users who already subscribe to or otherwise have the details of such content may still have access to it. Also keep in mind that User Content added to your profile may include personal information, such as username, which could enable other persons to find you in the NOA Canada Services or other services.
  %br
  %br 
  We will not manually modify your personal information because it is very difficult to verify your identity remotely. Upon your request, we will close your account and remove your personal information from view as soon as reasonably possible, based on your account activity and in accordance with applicable law. We do retain personal information from closed accounts in order to comply with law, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigations, enforce our End User License Agreement, and take other actions otherwise permitted by law.
  %br
  %br 
  To manage, update or limit access to or sharing of information collected from third party social network services, such as Facebook or Google+, please visit your account settings on that service.
  %br
  %br 
  %strong 8. Account protection; Security measures
  %br
  %br
  We are committed to protecting our users’ information, treat data as an asset that must be protected, and use tools including encryption, passwords, physical security, to protect your personal information against unauthorized access and disclosure. Your password protects your user account, so you should use a unique and strong password, limit access to your computer and Internet browser, and log out after having used the Services.  
  %br
  %br 
  However, third parties may unlawfully intercept or access transmissions or private communications, and other users may abuse or misuse your personal information that they collect from the Services. Therefore, while we take reasonable data protection precautions to protect your privacy, no security measures are completely secure, such that we do not guarantee, and you should not expect, that your personal information will remain private or secure at any time.
  %br
  %br 
  %strong 9. Third Parties (links & content)
  %br
  %br
  We may display advertisements from third parties and other content which links to third party websites. We cannot control or be held responsible for third parties’ privacy practices and content. We encourage you to read their privacy policies to find out how they collect and process your personal information.[imi2] 
  %br
  %br
  %strong 10. Changes
  %br
  %br
  We may make changes to this Privacy Policy from time to time, for any reason, so please visit this Privacy Policy regularly. If we make changes which we believe are material, we will inform you through the Services. Your continued use of the Services after such changes are made will be deemed your acceptance of those changes to the Privacy Policy.
  %br
  %br
  %strong 11. Contact us
  %br
  %br
  If you have any questions or comments about this Privacy Policy, please contact us at privacy@NOA Canada.com.
  %br
  %br 
  It is also within your rights to contact the Office of the Privacy Commissioner of Canada should you have any complaints about our compliance with the Personal Information Protection and Electronic Documents Act.
