%h2 NOA Canada Terms and Conditions of Use
.modal-text
  Effective as of September 1st, 2015.
  %br
  %br
  Hi! Please take the time to read the following information carefully. It’s very important you do so because the terms and conditions contained within this End User License Agreement (the “EULA”) affect your legal rights, as well as govern your present and continued access to and use of NOA Canada.ca Inc. website at www.NOACanada.ca, services and software applications (collectively, the “Services”). Ready?
  %br
  %br 
  %strong 1. Introductions
  %br
  %br
  Thank you for choosing to use NOA Canada! As the end user (“User”, “You” or “you”, “Your”), by accessing, using and/or downloading NOA Canada’s Services you are deemed to have fully read and unconditionally consented to enter into a legally binding contract, the EULA, with NOA Canada Media Inc. (“NOA Canada”, the “Company”, “we”, “our”). The EULA includes the terms and conditions of use (the “Terms”) contained herein, as well as the terms and conditions included our Privacy Policy [note to draft: the words “Privacy Policy” should hyperlink to that Policy so as to incorporate those terms into the EULA by reference].
  %br
  %br
  If you don’t agree with these Terms, or any of the additional terms or conditions incorporated into the EULA by reference, please immediately cease using NOA Canada.ca Inc. Services.
  %br
  %br
  %strong 2. Capacity
  %br
  %br
  To accept this EULA and to access, use and/or download the Services, you must be, and you represent and warrant that you are, at least nineteen (19) years of age. If you are under the age of nineteen (19), your parent or legal guardian is responsible for your use of the Services and will be deemed to have unconditionally accepted the terms and conditions of this EULA on your behalf.
  %br
  %br 
  You also represent and warrant that: (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.
  %br
  %br 
  %strong 3. Changes to the EULA
  %br
  %br
  Occasionally, we may need to make changes to our Services. As such, NOA Canada reserves the right to amend the EULA at any time, in its sole discretion, without prior notice to you. You acknowledge that by continuing to use the Services after the date on which  such amendments are made, you will be deemed to have unconditionally agreed to any such amendments to the EULA. If you do not agree to the amended terms and conditions, as applicable, you shall immediately cease using NOA Canada’s Services.
  %br
  %br 
  YOU UNDERSTAND, ACKNOWLEDGE AND AGREE THAT YOU SHALL BE RESPONSIBLE FOR PERIODICALLY REVIEWING THE AMENDMENTS TO THIS EULA, AND THAT YOU ARE DEEMED TO BE AWARE OF SUCH AMENDMENTS WITHOUT ANY PRIOR NOTICE OR FURTHER OBLIGATION REQUIRED TO BE TAKEN BY NOA Canada IN THIS REGARD.
  %br
  %br 
  No supplement, modification or amendment to the EULA and no waiver of any rights granted to NOA Canada under the EULA shall be valid or binding on NOA Canada, unless executed by NOA Canada in writing. No waiver of any of the provisions of the EULA shall be deemed to constitute a waiver of any other provision, whether or not similar in nature, nor shall such waiver constitute a continuing waiver unless expressly provided in writing.
  %br
  %br 
  %strong 4. Description of Services
  %br
  %br
  NOA Canada offers agent access to taxpayer information.  As an Agent of NOA Canada you warrant you have the right to act for the taxpayer in your capacity as a professional who is licensed in your profession or an agent of an NOA Canada partner.  The services we offer are tax related under our RepID registration with Canada Revenue and allow us to collect taxpayer Social Insurance Numbers (SIN), dates of birth, names, address and contact information.  We use this information inconjuction with authorization forms by the taxpayer for us to provide extensive non exhaustive tax related services for the taxpayers such as providing Notices of Assessment, tax history, tax filing, adjustments objections and reviews.  We can also provide Federal Tax Court of Canada representation as an authorized representative for the taxpayer.
  %br
  %br
  %strong 5. Ownership; Proprietary Rights
  %br
  %br
  The Services are fully owned  and operated by NOA Canada. You  acknowledge that the content, visual interfaces, web pages, interactive features, information, graphics, design, compilation, data, databases, tables, computer programs, source code, products, software, and all other elements of the Services that are provided by NOA Canada (the "NOA Canada Content") are protected by Canadian copyright, industrial design, trade-mark and patent laws, related international intellectual property treaties and conventions, and all other applicable laws. All trademarks, logos, service marks, trade names and domain names contained in the NOA Canada Content or on the Services are proprietary to NOA Canada, its subsidiaries or affiliated companies, and/or third party licensors.
  %br
  %br
  You acknowledge that the Services are licensed and not sold to you and that, except as expressly authorized by NOA Canada, you agree not to sell, license, distribute, copy, modify, publicly perform or display, transmit, publish, edit, adapt, create works from, or otherwise make unauthorized use of the NOA Canada Content, whether for commercial or personal use. NOA Canada reserves all proprietary rights not expressly granted by NOA Canada. You shall not acquire any right, title or interest in the NOA Canada Content or Services, except for the limited rights set forth in these Terms.
  %br
  %br
  %strong 6. Prohibited Uses
  %br
  %br
  You agree that you may not: (a) rent, lease, lend, sell, transfer, redistribute or sublicense the Services; or (b) reproduce, decompile, reverse-engineer, disassemble, attempt to derive the source code of, modify, or create derivative works of the Services, in whole or in part, or of any updates, upgrades or modifications to the Services.
  %br
  %br
  You further agree that you will not: a) distribute the NOA Canada Content or for any purpose including without limitation compiling an internal database, redistributing or reproducing of the NOA Canada Content by the press or media or through any commercial network, cable or satellite system; without the express written consent of NOA Canada; or b) create transformative works of, reverse-engineer, decompile, disassemble, adapt, translate, transmit, arrange, modify, copy, bundle, sell, sublicense, export, merge, transfer, loan, rent, lease, assign, share, outsource, host, publish, make available to any person or otherwise use, either directly or indirectly, the NOA Canada Content in whole or in part, in any form or by any means whatsoever, be they physical, digital or otherwise. You shall not permit, allow or do anything that would infringe or otherwise prejudice the proprietary rights of the Company or its third party licensors or allow any unauthorized third parties to access the NOA Canada Content.
  %br
  %br
  ACCESSING THE NOA Canada CONTENT OR FROM TERRITORIES WHERE IT MAY BE ILLEGAL IS STRICTLY PROHIBITED.
  %br
  %br
  Please respect NOA Canada and other Users of the Services. Don’t engage in any activity on the Services, or create or upload, including registering and/or using a username, which is or includes material that (a) is offensive, abusive, defamatory, pornographic or obscene; (b) is illegal, or is intended to promote or commit an illegal act of any kind, including but not limited to, violations of intellectual property rights, privacy rights or the proprietary rights of NOA Canada or a third party; (c) includes personal data of third parties or is intended to solicit such personal data, (d) includes malicious content such as malware, trojan horses or viruses, or otherwise interferes with any User’s access to the Services; (e) is intended or does harass or bully other Users; (f) impersonates or misrepresents your affiliation with another User, person or entity, or is otherwise fraudulent, false, deceptive, or misleading; (g) uses automated means to artificially promote content; (h) involves the transmission of unsolicited mass mailing (“spam”), junk mail, chain letter, or similar, including through the NOA Canada inbox; (i) involves commercial or sales activities, such as advertising, contests, sweepstakes, or pyramid schemes; (j) promotes commercial products or services; (k) interferes with the Services, tampers with or attempts to probe, scan, or test for vulnerabilities in the Services or NOA Canada’s computer systems or network, or breaches any of NOA Canada’s security or authentication measures, or (l) conflicts with the EULA, as determined by NOA Canada. You agree that NOA Canada may also reclaim your username for any reason.
  %br
  %br
  THE COMPANY RESERVES ALL RIGHTS TO REMOVE ANY USERNAME OR USER GENERATED CONTENT DEEMED OFFENSIVE, ABUSIVE, DEFAMATORY, PORNOGRAPHIC OR OBSCENE TO ITS MEMBERS.
  %br
  %br
  %strong 7. User Account Information; Password
  %br
  %br
  In order to access some features of the Services, you will have to create a User account. You agree that the personal information you provide to NOA Canada upon registration and, at all other times, will be true, accurate, current, and complete. You also agree that you will ensure that this information is kept accurate and up-to-date at all times. In the event that NOA Canada decides in its sole discretion to allow Users to access, use or download the Services via a User account linked to a third party website, including without limitation, Facebook or Google+, you further agree that the user account information you provide on such third party website will also be kept accurate and up-to-date at all times.
  %br
  %br
  You acknowledge, consent and agree that NOA Canada may access, preserve and disclose your account information and User Generated Content if required to do so by law or in a good faith belief that such access, preservation or disclosure is reasonably necessary to: (a) comply with a legal process; (b) enforce the EULA; (c) respond to a claim that any User Generated Content violates the rights of third parties; (d) respond to your requests for customer service; or (e) protect the rights, property or personal safety of NOA Canada, its Users and the public. Please refer to our Privacy Policy for further information on how the personal information we collect may be used by NOA Canada.
  %br
  %br
  When you register you will be asked to provide a password. As you will be responsible for all activities that occur under your password, you should keep your password confidential. You are solely responsible for maintaining the confidentiality of your User account and password and for restricting access to your computer, and you agree to accept full responsibility for all activities that occur under your User account or password. If you have reason to believe that your User account is no longer secure (for example, in the event of a loss, theft or unauthorized disclosure or use of your User account ID or password), you will immediately notify NOA Canada. You may be liable for the losses incurred by NOA Canada or others due to any unauthorized use of your User account.
  %br
  %br
  %strong 8. License To Use Your Information & User Generated Content
  %br
  %br
  With the exception of your personal information, you hereby grant NOA Canada a perpetual, royalty-free, worldwide, non-exclusive, irrevocable, transferable license to run, display, copy, reproduce, publish, bundle, distribute, market, create transformative works of, adapt, translate, transmit, arrange, modify, sublicense, export, merge, transfer, loan, rent, lease, assign, share, outsource, host, make available to any person or otherwise use, any information or other content you provide on or through the Services, or which is sent to the Company by e-mail or other correspondence, including without limitation, any ideas, concepts, inventions, know-how, techniques or any intellectual property contained therein, for any purpose whatsoever. NOA Canada shall not be subject to any obligations of confidentiality regarding any such information unless  specifically agreed by the Company in writing or as required by law. You represent and warrant that you have the right and capacity to grant the license set out in this provision.
  %br
  %br
  %strong 9. Termination
  %br
  %br
  This EULA is effective until terminated by NOA Canada, for any reason, in its sole discretion. The Company may terminate the EULA without prior notice to you. The License will terminate automatically in the event you fail to comply with these Terms, or any of the other terms and conditions incorporated into the EULA by reference, or if you engage in any prohibited conduct or prohibited uses. In the event of termination of the License for any reason, you shall: (a) immediately cease using the Services; and (b) destroy all copies of the Services in your possession or under your control.
  %br
  %br
  Any such termination by the Company shall be in addition, and without prejudice, to such rights and remedies as may be available to the Company, including injunctions and any equitable remedies available by law.
  The provisions of this EULA regarding ownership rights, termination, your warranty, the license you grant the Company, the Company’s disclaimers of warranty, limitations of liability, indemnification, and interpretation shall survive the termination of the EULA.
  %br
  %br
  %strong 10. Disclaimer of Warranty
  %br
  %br
  THE SERVICES ARE LICENSED "AS IS", AND NOA Canada DISCLAIMS, TO THE FULLEST EXTENT PERMITTED BY LAW, ALL REPRESENTATIONS, WARRANTIES, GUARANTEES, OBLIGATIONS AND LIABILITIES, WHETHER EXPRESS OR IMPLIED, OF ANY KIND IN RELATION TO THE SERVICES, INCLUDING WITHOUT LIMITATION IMPLIED WARRANTIES WITH RESPECT TO UNINTERRUPTED OR ERROR FREE OPERATION, AVAILABILITY, ACCURACY, COMPLETENESS, CURRENTNESS, RELIABILITY, TIMELINESS, LEGALITY, SUITABILITY, PRIVACY, SECURITY, MERCHANTABILITY, QUALITY, TITLE, NON-INFRINGEMENT OR FITNESS FOR A PARTICULAR PURPOSE, OR THOSE ARISING OUT OF A COURSE OF DEALING OR USAGE OF TRADE.
  %br
  %br
  %strong 11. Limitation of Liability
  %br
  %br
  You agree that, to the fullest extent permitted by applicable law, your sole and exclusive remedy for any problems, dissatisfaction or claims arising from your use of the Services, third party applications or third party content is to uninstall any NOA Canada software and to stop using the Services, third party applications or third party content.
  %br
  %br 
  UNDER NO CIRCUMSTANCES WILL THE COMPANY, ITS AFFILIATES, AGENTS, LICENSORS, SUPPLIERS, THIRD PARTY PROVIDERS, INCLUDING WITHOUT LIMITATION APPLE, OR THEIR RESPECTIVE DIRECTORS, OFFICERS   OR   EMPLOYEES   BE   LIABLE   FOR   ANY   DIRECT, INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, AGGRAVATED, ECONOMIC OR CONSEQUENTIAL DAMAGES, HOWSOEVER CAUSED, INCLUDING BUT NOT LIMITED TO: DAMAGES FOR LOSS OF USE, LOST PROFITS OR LOST SAVINGS, EVEN IF THE COMPANY OR ANY OF ITS LAWFUL AGENTS OR EMPLOYEES HAVE BEEN SPECIFICALLY ADVISED OF THE POSSIBILITY OF SUCH LOSS, INJURY, DAMAGES OR CLAIM.
  %br
  %br 
  UNDER NO CIRCUMSTANCES WILL COMPANY, ITS AFFILIATES, AGENTS, LICENSORS, SUPPLIERS, OR THEIR RESPECTIVE DIRECTORS, OFFICERS OR EMPLOYEES, BE LIABLE FOR ANY DAMAGES OR LOSSES RESULTING FROM: VIRUSES, DATA CORRUPTION, FAILED MESSAGES, TRANSMISSION ERRORS OR PROBLEMS; TELECOMMUNICATIONS SERVICE PROVIDERS; LINKS TO THIRD PARTY WEBSITES; THE INTERNET BACKBONE; PERSONAL INJURY; THIRD PARTY CONTENT, PRODUCTS OR SERVICES; DAMAGES OR LOSSES CAUSED BY YOU, OR YOUR RESPECTIVE EMPLOYEES, AGENTS OR SUBCONTRACTORS; LOSS OF USE OR LACK OF AVAILABILITY OF FACILITIES INCLUDING COMPUTER RESOURCES, ROUTERS AND STORED DATA;  THE  USE  OF,  OR  INABILITY  TO  USE,  THE  SERVICES  OR  THE NOA Canada CONTENT; ANY OTHER WEBSITE ACCESSED TO OR FROM THE NOA Canada SERVICES; OR EVENTS BEYOND THE REASONABLE CONTROL OF THE COMPANY, EVEN IF THE COMPANY OR ANY OF ITS LAWFUL AGENTS, OR EMPLOYEES HAVE BEEN SPECIFICALLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, LOSSES OR CLAIM.
  ALTHOUGH NOA Canada’S SERVICES USE AMAZON WEB STORAGE, THERE IS NO GUARANTEE THAT PERSONAL INFORMATION AND TRANSACTIONS ON COMPANY’S SERVICES OR ON THE INTERNET WILL BE MAINTAINED CONFIDENTIAL AND SECURE. THE USE OF NOA Canada’S SERVICES AND THE NOA Canada CONTENT IS AT YOUR OWN RISK AND THE COMPANY ASSUMES NO LIABILITY OR RESPONSIBILITY PERTAINING TO THE NOA Canada CONTENT, YOUR USE OF THE SERVICES OR THE RECEIPT, STORAGE, TRANSMISSION OR OTHER USE OF YOUR PERSONAL INFORMATION.
  %br
  %br 
  THE COMPANY DISCLAIMS ANY LIABILITY FOR THE UNAUTHORIZED USE OR REPRODUCTION OF ANY PORTION OF THE SERVICES OR NOA Canada CONTENT.
  %br
  %br
  %strong 12. Indemnification
  %br
  %br
  You agree at all times to indemnify, defend and hold harmless the Company, its subsidiaries and affiliated companies, suppliers, and their respective directors, officers, employees and agents against all actions, proceedings, costs, claims, damages, demands, liabilities, losses or debts and expenses whatsoever (including but not limited to reasonable legal and other fees and disbursements) sustained, incurred or paid by the Company arising directly or indirectly in respect of: a) any information or other content you provide on or through the Services or which is sent to the Company by e-mail or other correspondence; and b) any violation of any provision of the EULA, including without limitation, any misuse of the NOA Canada Content or the Services that is not in accordance with the EULA, or claims for infringement of intellectual property rights or otherwise.
  %br
  %br
  %strong 13. Technological Limitations
  %br
  %br
  NOA Canada will make reasonable efforts to keep the Services operational. However, certain technical difficulties or maintenance issues may, from time to time, result in temporary interruptions. NOA Canada reserves the right, periodically and at any time, to modify or discontinue, temporarily or permanently, functions and features of the Services, with or without notice, all without any liability to you for any interruption, modification, or discontinuation of the Services or any function or feature thereof. You understand and agree that NOA Canada has no obligation to maintain, support, upgrade or update the Services, or to provide all or any specific content through the Services. You also acknowledge that third parties, including without limitation Apple and Google, have no obligation whatsoever to furnish any maintenance or support services in relation to the Services.
  %br
  %br 
  THE COMPANY ASSUMES NO OBLIGATION TO UPDATE THE NOA Canada CONTENT ON THIS SITE. THE COMPANY MAY FROM TIME TO TIME, IN ITS SOLE DISCRETION, UPDATE THE NOA Canada CONTENT ON THE SERVICES WITHOUT PRIOR NOTICE TO YOU. ANY SUCH UPDATES WILL CONTINUE TO BE GOVERNED BY THE TERMS OF THIS EULA, UNLESS THE COMPANY PROVIDES A SEPARATE EULA WITH SUCH UPDATES, IN WHICH CASE THAT SEPARATE EULA WILL GOVERN.
  YOU UNDERSTAND, ACKNOWLEDGE AND AGREE THAT FROM TIME TO TIME THE NOA Canada CONTENT MADE AVAILABLE ON COMPANY’S SERVICES MAY NOT BE ACCURATE, UP TO DATE, COMPLETE OR UNTAMPERED, AND SHOULD NOT BE RELIED UPON WITHOUT FURTHER INDEPENDENT VERIFICATION BEING MADE BY YOU.
  %br
  %br
  THE NOA Canada CONTENT ON THE SERVICES IS PROVIDED FOR ENTERTAINMENT AND/OR INFORMATIONAL PURPOSES ONLY, AND SHOULD NOT BE INTERPRETED AS A RECOMMENDATION FOR ANY SPECIFIC PRODUCT OR SERVICE, USE OR COURSE OF ACTION. THE NOA Canada CONTENT ON THE SERVICES IS NOT INTENDED TO BE USED AS A SUBSTITUTE OF ANY KIND FOR PROFESSIONAL ADVICE. YOU ACKNOWLEDGE THAT IT IS YOUR DUTY TO OBTAIN PROFESSIONAL ADVICE FROM A QUALIFIED MUSIC INDUSTRY PROFESSIONAL TO MEET YOUR SPECIFIC NEEDS. YOU SHOULD NOT ACT OR RELY ON ANY OF THE NOA Canada CONTENT WITHOUT SEEKING THE ADVICE OF A QUALIFIED PROFESSIONAL.
  %br
  %br 
  %strong 14. Third Parties 
  %br
  %br
  Although NOA Canada may, from time to time, provide you with and/or offer the ability to purchase licenses for and in connection with the limited use of third party Licensed Material, including without limitation Songs, compositions, recordings, music, Stems, and/or artistic works, the Services and the NOA Canada Content are not to be construed or implied in any way as a form of promotion of such Licensed Material. The Services may contain links to other sites. The Company does not assume responsibility for the accuracy or appropriateness of the information, data, opinions, advice, or statements contained on such sites, and when you access such sites, you are doing so at your own risk. In providing links to other sites, the Company is in no way acting as a publisher or disseminator of the material contained on those other sites and does not seek to monitor or control such sites. A link to another site should not be construed to mean that the Company is affiliated or associated with the same. The mention of another party or its product or service on NOA Canada’s Services should not be construed as an endorsement of that party or its product or service.
  %br
  %br 
  You understand, acknowledge and agree that: (a) the Services may include links to third party websites; (b) when you link to a third party website, you may be subject to the terms of use and/or the privacy policy, if any, of that third party; and (c) NOA Canada does not recommend or endorse any of the content of any third party websites, including without limitation hyper-links to other websites or content, and is not responsible for the terms of use, privacy policies, practices or content of any third party website.
  %br
  %br 
  %strong 15. Severability
  %br
  %br
  Any provision of this EULA which is held by a court of competent jurisdiction to be illegal, invalid or unenforceable in such jurisdiction shall, as to that jurisdiction, be ineffective to the extent of such illegality, invalidity or unenforceability and shall otherwise be enforced to the maximum extent permitted by law, all without affecting the remaining provisions of this EULA or affecting the legality, validity or enforceability of such provision in any other jurisdiction, which shall nonetheless remain in full force and effect.
  %br
  %br 
  %strong 16. Interpretation
  %br
  %br
  The division of this EULA into sections and the insertion of headings are for convenience of reference only, do not constitute part of the Terms and shall not be deemed to limit or affect the construction or interpretation of this EULA. In this EULA, words importing the singular number include the plural and vice versa, words importing gender include all genders; and words importing persons include individuals, sole proprietors, partnerships, corporations, trusts and unincorporated associations.
  %br
  %br 
  %strong 17. Entire Agreement
  %br
  %br
  This EULA constitutes the entire agreement between you and NOA Canada with respect to the subject matter of this EULA, and supersedes and replaces any written or oral agreements, understandings or undertakings regarding the subject matter of this EULA made or given between you and NOA Canada prior to the date this EULA is deemed to come into force. You represent that you have not accepted the EULA in reliance on any oral or written representations made by NOA Canada that are not contained in these Terms or any of the terms or conditions incorporated into the EULA by reference.
  %br
  %br
  %strong 18. Governing Law
  %br
  %br
  This EULA will be governed by and construed in accordance with the laws of the province of Ontario and the laws of Canada applicable therein, excluding any choice of law and conflict of law rules. By accessing, using and/or downloading the Services, you consent and submit to the exclusive jurisdiction and venue of the Superior Court of Justice of the province of Ontario.
  %br
  %br 
  In particular but without limitation, we expressly exclude the application of the United Nations Convention on Contracts for the International Sale of Goods, as amended, replaced or re- enacted from time to time.
  %br
  %br 
  You agree to waive any right you may have to: (i) a trial by jury; and (ii) commence or participate in any class action proceedings against the Company related to the Company’s Services, the NOA Canada Content, any Licensed Material, if applicable, or this EULA. You also agree to opt out of any class action proceedings against the Company or its third party licensors. You have requested and agreed to have this EULA and all related documents be drawn-up in English only.
