.container
  .form-fields
    .col-md-2.sidebar-col
      = render '/homepage/sidebar'
    .col-md-10
      = @order.taxpayer.first_name
      %iframe{ src: @order.docusign_url, class: 'document_iframe' }