<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for contacting us, <%= @taxpayer.first_name %> <%= @taxpayer.last_name %></h1>
    <p>
      Our customer assistance team will review your request and respond as soon as possible.<br>
    </p>
    <p>Thanks for reaching out to NOACanada.ca!</p>
  </body>
</html>
