<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to noacanada.com, <%= @client.first_name %> <%= @client.last_name %></h1>
    <p>
      You have successfully completed your order for your last three years' NOAs (Notices of Assessment).<br>
    </p>
    <p>
      You can find your application and your completed NOAs in this shared dropbox folder: <%= @link %>.
    </p>
    <p>Thanks for applying and have a great day!</p>
  </body>
</html>