$(document).ready(function() {

  $('.phone').mask('(000) 000-0000');
  $('.sinnum').mask('000 000 000');
  

  $('.datepicker').datepicker({
    format: 'YYYY/MM/DD'
  });

    

  $('.partial-info').on('click', function() {
    var thisLink = $(this).data('link');
    $('#' + thisLink + '-radio').screwDefaultButtons("check");
    console.log(thisLink);
  });

  $('input:radio').screwDefaultButtons({
    image: 'url("' + "<%= asset_path('radio.png') %>" + ')',
    width: 50,
    height: 50
  });
  $('.styledRadio').on('click', function() {
    var that =  $(this).parent().parent();
    that.addClass('grey-gradient');
    $('.form-radio').not(that).removeClass('grey-gradient');
  });
  $(function() {
    
    $('.progressbar').each(function(){
      var t = $(this);
      var dataperc = t.attr('data-perc'),
          barperc = Math.round(dataperc*5.56);
      t.find('.bar').animate({width:barperc}, dataperc*25);
      t.find('.label').append('<div class="perc"></div>');
      
      function perc() {
        var length = t.find('.bar').css('width'),
          perc = Math.round(parseInt(length)/5.56),
          labelpos = (parseInt(length)-2);
        t.find('.label').css('left', labelpos);
        t.find('.perc').text(perc+'%');
      }
      perc();
      setInterval(perc, 0); 
    });
  });

  $(".form-radio").on('mouseover', function() {
    var thisId = $(this).attr('id');
    var thisPartial =  $('.' + thisId);
    thisPartial.addClass('button-hover');
    $('.partial-info').not(thisPartial).removeClass('button-hover');
  }).on('mouseleave', function() {
    var thisId = $(this).attr('id');
    var thisPartial =  $('.' + thisId);
    thisPartial.removeClass('button-hover');
  });

  $('body').on('keypress keyup keydown', '.form-control', function() {    
    var thisID = $(this).attr('id');
    var errorObj = $('.' + thisID + '_errors');
    judge.validate(document.getElementById(thisID), {
      
      valid: function(element) {
        element.style.border = '1px solid green';
        errorObj.html('');
      },
      invalid: function(element, messages) {
        element.style.border = '1px solid red';
        var messagesText = messages.join('<br>');
        errorObj.html(messagesText);
      }
    });

  });    
  $('body').on('click', '.submit-btn', function(e) {
    e.preventDefault();
    var elements = $('.form-control');
    var elemAmt = elements.length;
    var validations = [];

    for (i = 0; i < elements.length; i++) {
      var thisID = elements[i].getAttribute('id');
      var errorObj = $('.' + thisID + '_errors');

      validations.push(judge.validate(document.getElementById(thisID), {
        
        valid: function(element) {
          element.style.border = '1px solid green';
          errorObj.html('');
          console.log(element);
          
        },
        invalid: function(element, messages) {
          element.style.border = '1px solid red';
          var messagesText = messages.join('<br>');
          errorObj.html(messagesText);
        }
      }));     
      
    }
    var valLen = 0;
    var valSuccess = 0;
    for (i = 0; i < validations.length; i++) {
      for (j = 0; j < validations[i].validations.length; j ++) {

        if (validations[i].validations[j].messages != null) {
          valLen++;
        }
        if ((validations[i].validations[j].messages != null) && validations[i].validations[j].messages.length < 1) {
          valSuccess ++;          
        }

        
      }

    
    }
    console.log(valLen);
    console.log(valSuccess);
    if (valLen === valSuccess) {
       $('#new_agent').submit();
    }
    
  });

  
  
});

$(window).load(function() {
  
});
