function checkPass()
{
    //Store the password field objects into variables ...
    var pass1 = document.getElementById('pass1');
    var pass2 = document.getElementById('pass2');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(pass1.value == pass2.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        pass2.style.borderColor = goodColor;

        message.innerHTML = "Passwords Match!"
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        pass2.style.borderColor = badColor;

        message.innerHTML = "Passwords Do Not Match!"
    }
} 

function checkEmpty() {
  var pass1 = document.getElementById('pass1');
  var pass2 = document.getElementById('pass2');

  if (pass1.value.length === 0) {
    pass2.value = '';
  }
}

$(document).ready(function() {

  $('.phone').mask('(000) 000-0000');
  $('.sinnum').mask('000 000 000');
  $('.datepicker').mask('0000/00/00');

  $('[data-toggle="tooltip"]').tooltip()

  // $('#agent_phone_number').clone().attr('type', 'tel').appendTo('.mobile-phone');
  
  
  $("#submit-order").on('click', function(e) {
    e.preventDefault();
    console.log(typeof($('input[name="documents[]"]').val()));

  });    

  $('.partial-info').on('click', function() {
    var thisLink = $(this).data('link');
    $('#' + thisLink + '-radio').screwDefaultButtons("check");
  });

  $('input:radio').screwDefaultButtons({
    image: 'url("' + "<%= asset_path('radio.png') %>" + ')',
    width: 50,
    height: 50
  });
  $('.styledRadio').on('click', function() {
    var that =  $(this).parent().parent();
    that.addClass('grey-gradient');
    $('.form-radio').not(that).removeClass('grey-gradient');
  });
  $(function() {
    
    $('.progressbar').each(function(){
      var t = $(this);
      var dataperc = t.attr('data-perc'),
          barperc = Math.round(dataperc*5.56);
      t.find('.bar').animate({width:barperc}, dataperc*25);
      t.find('.label').append('<div id="perc"></div>');
      
      function perc() {
        var length = t.find('.bar').css('width'),
          perc = Math.round(parseInt(length)/5.56),
          labelpos = (parseInt(length)-2);
        t.find('.label').css('left', labelpos);
        t.find('#perc').text(perc+'%');
      }
      perc();
      setInterval(perc, 0); 
    });
  });

  $(".form-radio").on('mouseover', function() {
    var thisId = $(this).attr('id');
    var thisPartial =  $('.' + thisId);
    thisPartial.addClass('button-hover');
    $('.partial-info').not(thisPartial).removeClass('button-hover');
  }).on('mouseleave', function() {
    var thisId = $(this).attr('id');
    var thisPartial =  $('.' + thisId);
    thisPartial.removeClass('button-hover');
  });

  $('body').on('keypress keyup keydown change paste', '.form-control', function() {    
    var thisID = $(this).attr('id');
    var errorObj = $('.' + thisID + '_errors');
    judge.validate(document.getElementById(thisID), {
      
      valid: function(element) {
        element.style.border = '1px solid green';
        errorObj.html('');
      },
      invalid: function(element, messages) {
        element.style.border = '1px solid red';
        var messagesText = messages.join('<br>');
        errorObj.html(messagesText);
      }
    });

  });    
  $('body').on('click', '.submit-btn', function(e) {
    e.preventDefault();
    var elements = $('.form-control');
    var elemAmt = elements.length;
    var validations = [];

    for (i = 0; i < elements.length; i++) {
      var thisID = elements[i].getAttribute('id');
      var errorObj = $('.' + thisID + '_errors');

      validations.push(judge.validate(document.getElementById(thisID), {
        
        valid: function(element) {
          element.style.border = '1px solid green';
          errorObj.html('');
          console.log(element);
          
        },
        invalid: function(element, messages) {
          element.style.border = '1px solid red';
          var messagesText = messages.join('<br>');
          errorObj.html(messagesText);
        }
      }));     
      
    }
    var valLen = 0;
    var valSuccess = 0;
    for (i = 0; i < validations.length; i++) {
      for (j = 0; j < validations[i].validations.length; j ++) {

        if (validations[i].validations[j].messages != null) {
          valLen++;
        }
        if ((validations[i].validations[j].messages != null) && validations[i].validations[j].messages.length < 1) {
          valSuccess ++;          
        }

        
      }

    
    }
    if ($('input[name="documents[]"]').length) {
      if ($('input[name="documents[]"]').val().length > 0) {
        if (valLen === valSuccess) {
          $(this).closest('form').submit();
        }
      } else {
        $('.file-warning').show().on('click', function() {
          $('.file-warning').hide();
        });
      }
    }
    else {
      if (valLen === valSuccess) {
       $(this).closest('form').submit();
      }
    }
  
    
  });

  
  
});

$(window).load(function() {
  
});
