%h2 Other Form
= fields_for agent do |f|
  Office Phone Number
  = f.text_field :phone_number
  %br
  Company Name
  = f.text_field :sub_brokerage
  %br
  Specify Your Profession
  = f.text_field :agent_type
