.modal.fade.bs-example-modal-lg{"aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      = render '/devise/registrations/terms_and_conditions'
.modal.fade.bs-example-modal-lg-2{"aria-labelledby" => "myLargeModal2Label", :role => "dialog", :tabindex => "-2"}
  .modal-dialog.modal-lg
    .modal-content
      = render '/devise/registrations/privacy_policy'
.footer
  &copy; #{Time.new.year} NOA Canada Inc.
  | 
  %a{"data-target" => ".bs-example-modal-lg", "data-toggle" => "modal", :type => "button", class: 'pointer'} Terms and Conditions
  
  |
  %a{"data-target" => ".bs-example-modal-lg-2", "data-toggle" => "modal", :type => "button", class: 'pointer'} Privacy Policy 
  
  - if agent_signed_in?
    |
    = link_to 'Contact Us', '/contact'